# Files and directories to ignore
# Never commit minified JS files
*.min.js

.buildpath
composer.phar
composer.lock
/public/examples/devel/*

/tests/results/log/*
/tests/results/report/*
/tests/results/testdox.html

/tmp/*
/vendor/*
.project

# Directories files to keep
!/tests/results/log/.gitkeep
!/tests/results/report/.gitkeep
!/tmp/.gitkeep
!/vendor/.gitkeep