<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php" colors="true"
	printerFile="tests/results/ResultPrinter.php"
	beStrictAboutTestsThatDoNotTestAnything="true" columns="67" verbose="true"
	stopOnError="true" stopOnFailure="true">
	<php>
		<const name="FS_TEST_LOG_LEVEL" value="7" />
	</php>
	<testsuites>
		<testsuite name="general" phpVersion="7" phpVersionOperator=">=">
			<directory>testsuites/general</directory>
		</testsuite>
		<testsuite name="primitives" phpVersion="7"
			phpVersionOperator=">=">
			<directory>testsuites/primitives</directory>
		</testsuite>
		<testsuite name="components-core" phpVersion="7"
			phpVersionOperator=">=">
			<directory>testsuites/components/core</directory>
		</testsuite>
		<testsuite name="exceptions" phpVersion="7"
			phpVersionOperator=">=">
			<directory>testsuites/exceptions</directory>
		</testsuite>
		<testsuite name="shaders" phpVersion="7" phpVersionOperator=">=">
			<directory>testsuites/shaders</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src</directory>
			<exclude>
				<directory suffix=".php">../src/Composer</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="results/report" lowUpperBound="35"
			highLowerBound="70" />
		<log type="json" target="results/log/logfile.json" />
		<log type="junit" target="results/log/logfile.xml"
			logIncompleteSkipped="false" />
		<log type="testdox-html" target="results/testdox.html" />
	</logging>
</phpunit>